@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
#news, #projects, #sobre, #inicio, #diretrizes, #equipe {
    scroll-margin-top: 60px;
}
.home {
  background-image: url("/structure/bgQuilombola.webp");
  background-size: cover;
  position: relative;
  z-index: 0;
}
.home::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.home > * {
  z-index: 2;
}
